nav {
  background-color: #fec5cc;
  font-size: 22px;
  padding-top: 26px;
  padding-bottom: 19px;
  padding-left: 17px;
}

.ancre {
  text-decoration: none;
  font-family: Helvetica;
}

@media screen and (max-width: 576px) {
  .ancre {
    display: none;
  }
}
