nav {
  background-color: #fec5cc;
  font-size: 22px;
  padding-top: 26px;
  padding-bottom: 19px;
  padding-left: 17px;
}

.ancre {
  text-decoration: none;
  font-family: Helvetica;
}

@media screen and (max-width: 576px) {
  .ancre {
    display: none;
  }
  .burger-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
  }

  .burger-icon {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 6px 0;
    position: relative;
    left: 550%;
  }

  .burger-menu-items {
    display: none;
  }

  .burger-menu-items.active {
    display: block;
  }
}
@media only screen and (min-width: 769px) {
}
