.recipe {
  background-color: #f7ffc4;
}
.recipe_img {
  max-width: 20%;
}
.recipeleft_img {
  max-width: 20%;
  float: right;
}

@media only screen and (min-width: 769px) {
  .recipe_img {
    max-width: 30%;
    position: relative;
    bottom: 2px;
  }
  .recipeleft_img {
    max-width: 30%;
    float: right;
    position: relative;
    left: 70%;
    bottom: 30px;
  }

  .recipe_title {
    text-align: start;
    font-size: 46px;
    position: relative;
    left: 65%;
    top: 30px;
  }
  .recipe-text {
    font-size: 21px;
    position: relative;
    left: 70%;
    top: 30px;
  }
  .recipe_title_side {
    position: relative;
    right: 55%;
    top: 45px;
  }
  .recipe-text-side {
    position: relative;
    right: 50%;
    top: 50px;
  }

  .btn-recipe-side {
    position: relative;
    right: 50%;
    top: 100px;
    background-color: #fec5cc;
    border-radius: 15px;
    padding: 15px 45px;
    font-family: Helvetica-Bold;
    font-size: 20px;
    border: none;
  }
  .btn-recipe {
    position: relative;
    left: 70%;
    top: 90px;

    background-color: #fec5cc;
    border-radius: 15px;
    padding: 15px 45px;
    font-family: Helvetica-Bold;
    font-size: 20px;
    border: none;
  }
}

@media only screen and (max-width: 776px) {
  .recipe_img {
    max-width: 30%;
  }
  .recipeleft_img {
    max-width: 30%;
    float: right;
    position: relative;
    left: 60%;
    bottom: 30px;
  }
  .recipe_title {
    text-align: start;
    font-size: 23px;
    position: relative;
    left: 35%;
  }
  .recipe-text {
    font-size: 11px;
    position: relative;
    left: 47%;
    top: 5px;
  }
  .recipe_title_side {
    position: relative;
    right: 75%;
  }
  .recipe-text-side {
    position: relative;
    right: 60%;
    top: 5px;
    margin: 0 0 10px 0;
  }
  .btn-recipe-side {
    position: relative;
    right: 60%;
    top: 10px;
    background-color: #fec5cc;
    border-radius: 15px;
    padding: 5px 20px;
    font-family: Helvetica-Bold;
    font-size: 10px;
    border: none;
  }
  .btn-recipe {
    position: relative;
    left: 45%;
    top: 30px;
    background-color: #fec5cc;
    border-radius: 15px;
    padding: 5px 20px;
    font-family: Helvetica-Bold;
    font-size: 10px;
    border: none;
  }
}
