.recipe {
  background-color: #f7ffc4;
}
.recipe_img {
  max-width: 20%;
}
.recipeleft_img {
  max-width: 20%;
  float: right;
}

.recipe_table {
  border: 1px ridge black;
}
.commitment_img {
  max-width: 50%;
}
.commitment {
  background-color: #f7ffc4;
}
@media only screen and (min-width: 769px) {
  .recipe_img {
    max-width: 30%;
    position: relative;
    bottom: 60px;
  }
  .recipeleft_img {
    max-width: 30%;
    float: right;
    position: relative;
    left: 70%;
    bottom: 60px;
  }

  .recipe_title {
    text-align: start;
    font-size: 46px;
    position: relative;
    left: 65%;
  }
  .recipe-text {
    font-size: 21px;
    position: relative;
    left: 70%;
    top: 30px;
  }
  .recipe_title_side {
    position: relative;
    right: 55%;
  }
  .recipe-text-side {
    position: relative;
    right: 50%;
    top: 30px;
  }

  .btn-recipe-side {
    position: relative;
    right: 50%;
    top: 30px;
  }
}

@media only screen and (max-width: 776px) {
  .recipe_img {
    max-width: 30%;
  }
  .recipeleft_img {
    max-width: 30%;
    float: right;
    position: relative;
    left: 60%;
    bottom: 30px;
  }
  .recipe_title {
    text-align: start;
    font-size: 23px;
    position: relative;
    left: 35%;
  }
  .recipe-text {
    font-size: 11px;
    position: relative;
    left: 47%;
    top: 5px;
  }
  .recipe_title_side {
    position: relative;
    right: 75%;
  }
  .recipe-text-side {
    position: relative;
    right: 60%;
    top: 5px;
    margin: 0 0 10px 0;
  }
}
