.select {
  background-color: #d9ffc4;
  padding: 31px;
  display: block;
}
.button-select {
  margin: 12px;
}
.product-table1 {
  background-color: #e4c5ff;
}
.product-table2 {
  background-color: #ffdfc6;
}
.product-table3 {
  background-color: #ffc5ff;
}
.price-table {
  background-color: #c5f7fe;
}
.price {
  font-family: Helvetica-Bold;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0;
  text-align: right;
}
h4 {
  font-family: Helvetica-Bold;
  font-size: 36px;
  color: #000000;
  letter-spacing: 0;
}
.img-select {
  max-width: 100;
  margin: 28px 38px;
}
.more-drink {
  background-color: #d9ffc4;
  padding: 20%;
}
.img-alter {
  margin: 41px 41px;
}

.btn-moredrink {
  background-color: #ffc5ff;
  padding: 15px 122px;
  background: #fec5cc;
  border-radius: 15px;
}

@media only screen and (min-width: 769px) {
  .product-table1,
  .product-table2,
  .product-table3 {
    width: 33.33%;
    float: left;
  }
}

@media only screen and (max-width: 576px) {
  .product-table1,
  .product-table2,
  .product-table3 {
    width: 100%;
    float: none;
  }
}
