.select {
  background-color: #d9ffc4;
  padding: 31px;
  display: block;
}
.button-select {
  margin: 12px;
}
.product-table1 {
  background-color: #e4c5ff;
  margin: 38px 17px 35px 40px;
}
.product-table2 {
  background-color: #ffdfc6;
  margin: 38px 17px 35px 0px;
}
.product-table3 {
  background-color: #ffc5ff;
  margin: 38px 40px 35px 0px;
}
.price-table {
  background-color: #c5f7fe;
}
.price {
  font-family: Helvetica-Bold;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0;
  text-align: right;
}
h4 {
  font-family: Helvetica-Bold;
  font-size: 36px;
  color: #000000;
  letter-spacing: 0;
}
.img-select {
  max-width: 100;
  margin: 28px 38px;
}
.more-drink {
  background-color: #d9ffc4;
}
.img-alter {
  max-width: 100px;
}
