.tonic-page {
  background-color: #c5e3ff;
}
.tonic-img {
  height: 5%;
  width: 10%;
  position: relative;
}
.tonic-img-first {
  height: 25%;
  width: 25%;
}
.bio {
  height: 5%;
  width: 5%;
}
.button-select {
  background-color: #fec5cc;
  border-radius: 15px;
  padding: 15px 35%;
  font-family: Helvetica-Bold;
  font-size: 20px;
  border: none;
}
